/* main-header-background.css */  
.header-background {  
  position: absolute;  
  width: 100%;  
  height: 320px;  
  top: 0;  
  left: 0;  
  z-index: -1; /* Make sure this is behind all other elements except the body or root element */  
}  
  
.header-background svg {  
  display: block;  
  width: 100%;  
  height: 320px; /* Set a fixed height to match the .header-background */  
/* Changed from 'fixed' to 'absolute' to move with the header */  
}  
